# Build tools
pip>=24
setuptools>=69.0.0
wheel

# Core ML and forecasting packages
tensorflow==2.11.0
tensorboard==2.11.0
protobuf>=3.20,<5
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.31.0

# Forecasting and supporting libraries
prophet==1.1.2
pmdarima==1.8.5
statsmodels==0.13.5
scikit-learn==1.2.2
scipy==1.10.0
pandas==1.5.3
numpy==1.23.5
matplotlib==3.6.3
seaborn==0.12.2
plotly==5.13.0
altair==5.5.0

# Web App
streamlit==1.23.1
pydeck==0.9.1
watchdog==6.0.0
validators==0.35.0

# TensorBoard extras
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1

# Visualization / Tools
Jinja2==3.1.6
Markdown==3.8.2
rich==13.9.4
Pillow==9.5.0
pyarrow==20.0.0

# Authentication
google-auth==2.40.3
google-auth-oauthlib==0.4.6
oauthlib==3.3.1
rsa==4.9.1
requests-oauthlib==2.0.0

# Utilities and dependencies
typing_extensions==4.14.1
wrapt==1.17.2
absl-py==2.3.1
attrs==25.3.0
blinker==1.9.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
cycler==0.12.1
decorator==5.2.1
ephem==4.2
gast==0.4.0
google-pasta==0.2.0
h5py==3.14.0
joblib==1.2.0
keras==2.11.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.8
libclang==18.1.1
Markdown==3.8.2
MarkupSafe==3.0.2
opt_einsum==3.4.0
packaging==23.2
parso==0.8.4
patsy==1.0.1
platformdirs==4.3.8
psutil==7.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
pytz-deprecation-shim==0.1.0.post0
six==1.17.0
tenacity==8.5.0
termcolor==3.1.0
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.5.1
tqdm==4.67.1
tzdata==2025.2
tzlocal==4.3.1
urllib3==2.5.0
Werkzeug==3.1.3

# Jupyter & IPython for exploration
ipykernel==6.29.5
ipython==8.37.0
jupyter_client==8.6.3
jupyter_core==5.8.1
prompt_toolkit==3.0.51
Pygments==2.19.2
matplotlib-inline==0.1.7
stack-data==0.6.3
traitlets==5.14.3
wcwidth==0.2.13

# Extra (JSON, timezone, dates)
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
referencing==0.36.2
rpds-py==0.26.0
LunarCalendar==0.0.9
convertdate==2.4.0
PyMeeus==0.5.12
holidays==0.76

# Debugging & Dev
debugpy==1.8.15
GitPython==3.1.44
gitdb==4.0.12
smmap==5.0.2
comm==0.2.2
executing==2.2.0
exceptiongroup==1.3.0
pure_eval==0.2.3
importlib-metadata==6.11.0
zipp==3.23.0
